<div>
    <main>

        <div class="card">
            <div class="card-body">
                {{#with heading.main}}
                <div>
                    <h1>{{title}}</h1>
                    <p>{{text}}</p>
                    <p><button class="btn btn-primary">{{button_text.solid}}</button></p>
                    <p><button class="btn btn-outline-primary">{{button_text.outline}}</button></p>
                </div>
                {{/with}}
            </div>
        </div>

        <br>
        <br>

        <div class="card">
            <div class="card-body">
                {{#with heading.second}}
                <div>
                    <h2>{{title}}</h2>
                    <p>{{text}}</p>
                    <p><button class="btn btn-secondary">{{button_text.solid}}</button></p>
                    <p><button class="btn btn-outline-secondary">{{button_text.outline}}</button></p>
                </div>
                {{/with}}
            </div>
        </div>

        <br>
        <br>

        <div class="card">
            <div class="card-body">
                {{#with heading.subblock}}
                <div>
                    <h3>{{title}}</h3>
                    <p>{{text}}</p>
                    <p><button class="btn btn-dark">{{button_text.solid}}</button></p>
                    <p><button class="btn btn-outline-dark">{{button_text.outline}}</button></p>
                </div>
                {{/with}}
            </div>
        </div>

        <br>
        <br>


        {{#with nested_display}}
        <div class="card">
            <div class="card-body">

                <div class="display-1">{{title}}</div>

                <div class="card">
                    <div class="card-body">
                        <div class="display-4">{{children_display.title}}</div>
                        <p>{{children_display.text}}</p>
                        <button class="btn btn-outline-warning">{{children_display.button.text}}</button>
                    </div>
                </div>
                <br>
                <h6>{{header_text}}</h6>
                <button class="btn btn-info">{{button.text}}</button>
            </div>
        </div>
        {{/with}}

        <br>
        <br>

        {{#with paragraph}}
        <div class="card">
            <div class="card-body">
                <p class="text-uppercase">{{title}}</p>
                <p>{{text}}</p>

                <p>
                    <a href="{{button.url}}" class="btn btn-link">{{button.text}}</a>
                </p>


                <div class="card">
                    <div class="card-body">
                        {{#each list_name}}
                        <div>
                            <ul>
                                <li>
                                    <a href="{{url}}" class="btn btn-link">{{text}}</a>
                                </li>
                            </ul>
                        </div>
                        {{/each}}

                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </main>
</div>