{{!-- Карточка товару --}}

<div>
    <div class="row">
        {{#each goodsList}}
        <div class="col-4 gy-4 gx-2">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product hoto">
                <div class="card-body">

                    <div>
                        {{#if isHot}}
                        <span class="badge text-bg-warning rounded-pill text-uppercase">hot</span>
                        {{/if}}

                        {{#if isNew}}
                        <span class="badge text-bg-primary rounded-pill">Нове</span>
                        {{/if}}
                        <div class="pt-2">
                            {{#if isFast}}
                            <span class="badge text-bg-success">Швидка доставка</span>
                            {{/if}}
                        </div>

                        <div class="py-2">
                            {{#if isFree}}
                            <span class="badge text-bg-secondary">Безкоштовна доставка</span>
                            {{/if}}
                        </div>


                        <div class="py-2">
                            <h5 class="card-title">{{name}}
                            </h5>
                        </div>

                        <div class="py-1">
                            {{review.amount}} {{review.text}}
                        </div>

                        <div>
                            <h4>
                                {{price}}
                            </h4>
                        </div>

                        <div>
                            {{delivery}}
                        </div>


                        <div class="mt-2">
                            {{#each buttons}}
                            <a class={{#if isPrimary}}"btn btn-primary my-2"{{/if}} {{#if isSecondary}}"btn
                                btn-secondary"{{/if}} href="{{link}}">{{text}}</a>
                            {{/each}}
                        </div>

                        <div class="py-2">
                            {{#each characteristics}}

                            <div>{{title}}: {{value}}</div>
                            {{/each}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>