<div class="card">
    <div class="card-body">

        <div class="card">
            <div class="card-body">
                {{#with reviewBody}}
                <div>
                    {{seller.title}}: {{seller.value}}
                </div>

                <div class="py-3">
                    {{rating.title}}: {{rating.value}}
                </div>

                {{#each text}}
                <div>
                    {{this}}
                </div>
                {{/each}}

                <div class="mt-3">
                    <b>{{advantages.title}}</b>
                </div>
                <div>
                    {{advantages.text}}
                </div>

                <div class="mt-3">
                    <b>{{disadvantages.title}}</b>
                </div>
                <div>
                    {{disadvantages.text}}
                </div>

                <div class="pt-4 pb-2">
                    {{#each images}}
                    <img src={{this}} alt="image">
                    {{/each}}
                </div>


            </div>

        </div>

        {{!-- Коментари --}}
        <div class="ms-5">
            {{#each coments}}
            <div class="my-3">
                <div class="card col-12">
                    <div class="card-body">
                        <h5>
                            {{userName}}
                        </h5>
                        <div>
                            {{date}}
                        </div>
                        <div>
                            {{text}}
                        </div>
                    </div>
                </div>

            </div>
            {{/each}}
        </div>

        {{/with}}
    </div>
</div>